@use './_base.sass'

#article
  margin-top: 2.3rem

  .sub-title
    margin-bottom: 3rem

  .section-title
    margin-top: 4rem
    margin-bottom: 2rem

  .section-title:first-child
    margin-top: 2rem

  h3
    margin: 2.3rem 0 1.5rem 0

  .lang-token 
    font-family: monospace
    font-size: 1rem
    margin-bottom: 1.3rem
    margin-top: 1.3rem
    font-weight: 800

  .detail
    font-weight: 500

  ul
    list-style-type: none

    li
      margin-bottom: 1.5rem

  .settings-list
    margin-top: -2rem
    margin-left: 1rem
    margin-bottom: 3rem

    li
      margin-bottom: .5rem
      font-family: monospace

.text
  font-size: 1.2rem
  line-height: 1.8rem

.tutorial-text
  font-size: 1.2rem
  line-height: 1.8rem
  margin-bottom: 1.7rem

.tutorial-detail-text
  margin-bottom: 3rem
  line-height: 1.8rem

.contact
  font-size: 1.2rem
  margin: 1.3rem 0 1.3rem 0
  font-weight: 500

#status-indicator
  display: inline-block
  width: 12px
  height: 12px 
  border-radius: 1.5rem
  background-color: base.$indicator-success-color

@include base.respond-to('medium')
  
  #article
    max-width: 550px
    line-height: 2rem
    text-justify: auto

@include base.respond-to('large')
  
  #article
    max-width: 550px
    line-height: 2rem
    text-justify: auto
    margin-top: 3rem

    .section-title
      margin-top: 4rem

