@use './_base.sass'

nav 
    font-family: base.$fonts
    margin: 0 0 1rem 0
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

    h1
      flex-basis: 0
      font-size: 1rem

#large-links
  display: none

#small-links
  list-style-type: none
  display: flex
  justify-content: space-between
  width: 100%
  margin-bottom: 2rem

  li
    margin: 0 auto 0 auto
    font-size: 0.8rem
    font-weight: 800

  li:first-child
    margin-left: 0

  li:last-child
    margin-right: 0

.dropdown
    position: relative

    .d-button
        font-size: 0.8rem
        font-weight: 800
        border: 1px solid base.$text-color
        border-radius: 2rem
        padding: 0.5rem 1rem 0.5rem 1rem
        margin-right: 0
        margin-left: auto
        user-select: none
        -webkit-user-select: none

        .down-arrow
            position: relative
            top: -0.2em

    .d-button:hover
        cursor: pointer
        background-color: base.$shadow-color

    .d-body
        position: absolute
        top: 50px
        right: 0
        width: 270px
        height: 500px
        z-index: 10
        background-color: base.$bg-color
        padding: 1.2rem
        overflow: scroll
        @include base.shadow
        @include base.rounded-corners

#example-list
  text-decoration: none
  list-style: none
  width: 100%

  h1
    font-size: 1.5rem
    flex-basis: auto

  h3
    font-size: 1rem

  .list-title 
    display: flex
    justify-content: center
    width: 100%
    border-bottom: 1px dotted lightgray
    margin-bottom: 1rem
    padding-bottom: 0.8rem

    h1:not(:first-child) 
        margin-top: 1rem

  .list-item 
    display: flex
    margin-top: 1.5rem
    margin-bottom: 1rem

    .thumb 
      width: 40px
      height: 40px
      background-color: lightblue
      margin-right: 1.2rem

    .category
      color: gray

    .name
      font-size: 1.2rem

    .info
      text-align: left

  .list-item:hover 
      text-decoration: underline
      cursor: pointer

@include base.respond-to('medium')
  
  nav
    #header
      h1
        font-size: 2rem

  .dropdown

    .d-button
      font-size: 1.2rem

  #small-links
    li
      font-size: 1.2rem

  #example-list
    
    .list-item
      margin-top: 1rem

    .thumb
      height: 50px
      width: 50px

@include base.respond-to('medium-large')

  nav
    #header
      display: flex
      align-items: center
      h1
        font-size: 2rem

  #small-links
    display: none

  #large-links
    display: block
    list-style-type: none
    margin-left: 2rem
    padding-left: 2rem
    border-left: 1px solid base.$text-color
    font-size: 1rem

    li:not(:first-child)
      margin-top: 0.5rem

    a:hover
      color: base.$text-color-lighter

@include base.respond-to('large')

  nav
    #header
      display: flex
      align-items: center
      h1
        font-size: 2.5rem

    .dropdown

      .d-button
        font-size: 1.2rem

  #small-links
    display: none

  #large-links
    display: block
    list-style-type: none
    margin-left: 2rem
    padding-left: 2rem
    border-left: 1px solid base.$text-color
    font-size: 1.2rem

    li:not(:first-child)
      margin-top: 0.5rem

    a:hover
      color: base.$text-color-lighter

  #example-list

    .list-title:not(:first-child)
      margin-top: 1.5rem
