@use './_base.sass'

#three 
    width: 50%
    margin: 1rem
    margin-top: -2rem
    padding: 0

#three canvas 
    border-radius: 1rem

#viewer-controls 
    position: relative
    width: 80px
    margin: 0
    top: 15px
    left: 685px

.viewer-button 
    font-size: 14px
    font-weight: 800
    padding: 0.5rem 0.7rem 0.3rem 0.7rem
    color: base.$bg-color
    background-color: base.$text-color
    border: none
    border-radius: 2rem

.viewer-button svg
    width: 15px

.viewer-button:hover 
    background-color: #425e6e
    cursor: pointer
