@use './_base.sass'
@use './_nav.sass'
@use './_editor.sass'
@use './_viewer.sass'

* 
    margin: 0
    padding: 0
    color: base.$text-color

*:focus 
    outline: none

body 
    background-color: base.$bg-color
    font-family: base.$fonts

#world 
    padding: 6rem

#app-container 
  display: flex
  flex-direction: row-reverse
    flex-wrap: wrap
    width: 100%

h2 
    margin-bottom: 1rem
    margin-left: 1rem
    font-size: 20px

@include base.respond-to('small')

  #world
    padding: 2rem

  #app-container
    display: block
