*:focus {
    outline: none;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#three {
    border: 1px dotted gray;
    width: 500px;
    margin: 1rem;
    padding: 0;
}
#editor {
    width: 400px;
    height: 300px;
    border-radius: 0.3rem;
    margin: 1rem;
    background-color: gray;
    color: white;
    font-size: 15px;
    font-family: monospace;
    font-weight: 800;
}

#editor .ace_gutter {
    width: 30px;
}
