:root {
    --bg-color: #eeeeee;
    --text-color: #314d5d;
    --shadow-color: lightgray;
}

* {
    margin: 0;
    padding: 0;
    color: #314d5d;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#world {
    padding: 6rem;
}

#nav {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 1rem 0;
}

#app-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#editor {
    width: 40%;
}

h2 {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 20px;
}

#ace.ace_editor {
    font-family: monospace !important;
    height: 500px;
    border-radius: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 800;
    box-shadow: 8px 8px 8px var(--shadow-color);
}

#ace .ace_gutter {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #e3e3e3;
    border-radius: 1rem 0 0 1rem;
}

#ace .ace_scroller {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
}

#ace .ace_active-line {
    display: none;
}

#three {
    width: 50%;
    margin: 1rem;
    margin-top: -2rem;
    padding: 0;
}

#three canvas {
    border-radius: 1rem;
}

#viewer-controls {
    position: relative;
    width: 80px;
    margin: 0;
    top: 15px;
    left: 710px;
}

.viewer-button {
    font-size: 14px;
    font-weight: 800;
    padding: 0.5rem 0.7rem 0.3rem 0.7rem;
    color: var(--bg-color);
    background-color: var(--text-color);
    border: none;
    border-radius: 2rem;
}

.viewer-button svg{
    width: 15px;
}

.viewer-button:hover {
    background-color: #425e6e;
    cursor: pointer;
}
